<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238106611753-su43i03pd5i4b72uovelnm113ek3ia5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238106611753-su43i03pd5i4b72uovelnm113ek3ia5h</string>
	<key>API_KEY</key>
	<string>AIzaSyDpHe4q8SB_VUs0sV8KhgwD2yiP7NSvKKE</string>
	<key>GCM_SENDER_ID</key>
	<string>238106611753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Unit5.FirebaseTakeTwo</string>
	<key>PROJECT_ID</key>
	<string>fir-project-1ee3e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-1ee3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238106611753:ios:f92b9764d05d7d486f4c38</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-1ee3e.firebaseio.com</string>
</dict>
</plist>